.page{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 35vw 15vw 15vw 35vw;
    grid-template-areas:
        "bc title title exc"
        "bc bcData excData exc"
        "bc table table exc";
    height: 100%;
    align-items: center;
}

.title{
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bicycle-scene-container{
    grid-area: bc;
    /*display: flex;*/
    flex-direction: column;
}

.exercise-scene-container{
    grid-area: exc;
    /*display: flex;*/
    flex-direction: column;

}

.bicycle-data{
    grid-area: bcData;
}

.exercise-data{
    grid-area: excData;
}

.table-container{
    grid-area: table;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphic-display{

}
